body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFF5E4;
    margin: 0;
}

h1 {
    font-size: 50px;
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
    padding-left: 10px;
}

h2 {
    font-size: 40px;
}

p {
    margin-bottom: 30px;
}

.header-class {
    color: tomato;
}

.header-div {
    width: 50%;
}

.header-div img {
    height: 520px;
    width: 500px;
}

.header-div span {
    color: tomato;
}

.batton {
    color: antiquewhite;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(tomato, salmon);
    border-radius: 10px;
}

.section-one {
    display: flex;
    padding-left: 60px;
    background-image: url(images/workplace.jpg);
    padding-bottom: 100px;
    box-shadow: 10px 10px 40px #756252;

}

.section-two {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;

}

.second-div {
    width: 40%;
    margin-left: 80px;
    padding-left: 50px;

}

.second-div img {
    height: 450px;
    width: 600px;
    border-radius: 50px;
}

#cat-shadow {
    box-shadow: 10px 10px 40px black;
    border-radius: 50px;
}

.third-div {
    margin-left: 125px;
    margin-bottom: 100px;
    padding: 20px 20px 330px;
    background-image: url(images/coffee-cup.jpg);
    background-repeat: no-repeat;
    box-shadow: 10px 10px 40px white;
}


.third-div img {
    height: 500px;
    width: 600px;
    border-radius: 90%;
}

#para-id {
    width: 1000px;
}